.parent{
    height: 100vh;
    font-family: sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp3232961.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.child{
    display: inline-block;
    padding: 100px;
    margin-left: 150px;
    margin-top: 110px;
}
form
{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(130, 124, 124);
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 10px 5px 5px rgba(44, 37, 37,0.5);
}
form h3 
{
    color: #F8792F;
}
form input
{
    width: 90%;
    height: 28px;
    margin-top: 20px;
    border-bottom: 2px solid grey;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 15px;
}
form button 
{
    margin-top: 30px;
    width: 90%;
    height: 28px;
    background-color: #F8792F;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}
